nav{
    img{
        width: 60px;
        padding-bottom: 30px;
    }
    color: white;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    ul{
        display: flex;
        gap:50px;
        margin-right: 50px;
        font-size: large;
        a{
            color: white;
        }
    }
    

}