@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/images/Icons/background.jpg);
    background-size:auto;
    background-attachment: fixed;
}

li{
    list-style-type: none;
    color: inherit;
}